
      <div class="container" style="padding-top: 90px;">
         <div class="row">
            <aside class="col-md-3">
               <h2>Add Category</h2>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam accumsan libero a sem venenatis pharetra.</p>
            </aside>
            <section class="main col-md-9">
               <article>
                  <div class="row">
                     <div class="col-12">
                        <h2>Add Item</h2>
                        <br />
                        <form method="post" action="/categories/add">
                           <fieldset>
                                <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                    <label for="category">Category:</label>
                                    <input class="form-control" id="category" name="category" type="text" autofocus />
                                    </div>
                                </div>
                                </div>
                            </fieldset>
                            <hr />
                           <input type="submit" class="btn btn-primary pull-right" value="Add Category" /><br /><br /><br />
                        </form>
                     </div>
                  </div>
         </div>
         </article>
         </section>
      </div>